/* all screen (body) */
body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f9;
}
/* nav and nav after */
nav {
  background-color: #007bff;
}
.menu-icon {
  display: none;
  font-size: 2rem;
  cursor: pointer;
}
nav::after {
  content: "";
  position: absolute;
  bottom: -20px;
  left: 50%;
  transform: translateX(-50%);
  width: 100px;
  height: 5px;
  background-color: white;
}
/* navlink hover in a */
.nav-links a:hover {
  text-decoration: underline!important;
}
/* post */
.post {
  border: 1px solid #ddd;

  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.post:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.post p {
  color: #666;
  line-height: 1.6;
}
.post .btn-primary {
  background-color: #007bff;
  border: none;
}
.post .btn-primary:hover {
  background-color: #0056b3;
}
/* sidebar */
.sidebar {
  background-color: #f8f9fa;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.sidebar ul {
  list-style-type: none;
  padding-left: 0;
}
.sidebar ul li a {
  color: #007bff;
}
.sidebar ul li a:hover {
  text-decoration: underline !important;
}
/* footer */
footer {
  background-color: #343a40;
}

footer p{
  padding-left: 150px;

}
/* Back to Top Button */
#backToTopBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: #007bff;
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 10px;
}

#backToTopBtn:hover {
  background-color: #333;
}

/* contact form */
.contact-form {
  max-width: 100%;
  margin: auto;
  
}

.contact-form h2 {
  margin-bottom: 5px;
  position: relative;
  padding-right: 70px;
}

.contact-form form {
  display: flex;
  flex-direction: column;
}

.contact-form label {
  margin-bottom: 5px;
}

.contact-form input, .contact-form textarea {
  margin-bottom: 15px;
  padding: 0px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  height: 30px;
}

.contact-form button {
  padding: 5px;
  font-size: 18px;
  border: none;
  border-radius: 4px;
  background-color:#007bff;
  color: white;
  cursor: pointer;
  width: 43.75rem;
  height: 1.6875rem;
  padding-bottom: .5rem;
  padding-top: 0;
text-align: center;
}

.contact-form button:hover {
  background-color: #555;
}


/* Media Queries for Contact Form */


@media (max-width: 300px) {
  .contact-form {
    padding: 10px;
    display: flex;
    flex-direction: column;

}
.form-group{
  display: flex;
  flex-direction: column;
}

.contact-form input, .contact-form textarea {
    font-size: 14px;
    padding: 5px;
}

.contact-form button {
    font-size: 16px;
    padding-bottom: 8px;
    width: 360px;
}
footer p{
  width: 100%;

  padding-right: 150px;
}

}
@media (max-width: 500px) {
  .contact-form h2 {
    text-align: center;
    padding-left: 50px;
  }
  .contact-form {
      padding: 10px;
      display: flex;
      flex-direction: column;
  
  }
  .form-group{
    display: flex;
    flex-direction: column;
  }

  .contact-form input, .contact-form textarea {
      font-size: 14px;
      padding: 8px;
  }

  .contact-form button {
      font-size: 16px;
      padding-bottom: 8px;
      width: 380px;
  }

  footer p{
    width: 100%;
    padding-right: 150px;
  }
}

@media (max-width: 600px) {
  .contact-form h2 {
    text-align: center;
    padding-left: 50px;
  }
  .contact-form {
      padding: 10px;
      display: flex;
      flex-direction: column;
  
  }
  .form-group{
    display: flex;
    flex-direction: column;
  }

  .contact-form input, .contact-form textarea {
      font-size: 14px;
      padding: 8px;
  }

  .contact-form button {
      font-size: 16px;
      padding-bottom: 8px;
      width: 500px;
  }
  footer p{
  width: 100%;
    padding-right: 150px;
  }
}
@media (max-width: 900px) {
  .contact-form button {
    font-size: 16px;
    padding-bottom: 8px;
    width: 410px;
}
}
@media all and ( min-width :433px) and (max-width: 1063px) {
  .contact-form button {
  width: 50rem;
}
}
@media (max-width: 1061px) {
  .contact-form h2 {
    text-align: center;
    padding-left: 50px;
  }
  .contact-form {
      padding: 10px;
      display: flex;
      flex-direction: column;
  
  }
  .form-group{
    display: flex;
    flex-direction: column;
  }

  .contact-form input, .contact-form textarea {
      font-size: 14px;
      padding: 8px;
  }

  .contact-form button {
      font-size: 16px;
      padding-bottom: 8px;
      width: 400px;
  }
  footer p{
  width: 100%;
    padding-right: 150px;
  }

}